@media (max-width: 768px) {
  #mobile_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.474) 0px 2px 8px 0px;
    bottom: 0;
    padding: 10px;
    text-align: center;
    z-index: 30;
    background-color: #fff;
  }

  #search form .wrapper {
    width: 100%;
    position: relative;
  }

  /* HERO */
  .next_arr,
  .prev_arr {
    display: none;
  }
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 40px;
  }
  #hero h5 {
    font-size: 18px;
  }
  #hero .slide {
    height: 90vh !important;
  }
  .slick-dots {
    bottom: 35px;
  }
}


   .features-section {
        padding: 15px 12px;
    }

    .features-wrapper {
        border-radius: 5px;
    }

    .feature-box {
        min-height: 110px;
        padding: 18px;
        border-right: none;
        border-bottom: 1px solid #e5eae7;
    }

    .feature-box:last-child {
        border-bottom: none;
    }

    .feature-icon {
        width: 42px;
        height: 42px;
        min-width: 42px;
        font-size: 18px;
    }

    .feature-content h5 {
        font-size: 12px;
    }

    .feature-content p {
        font-size: 9px;
    }


    .products-heading h2 {
        font-size: 23px;
    }

    .product-filter {
        gap: 13px;
    }

    .product-filter span {
        display: none;
    }

    .product-image {
        height: 230px;
    }

    .promo-section {
        padding: 30px 15px;
    }

    .promo-card {
        height: 210px;
    }

     .promo-section {
        padding: 30px 15px;
    }


    .promo-card {
        height: 210px;
    }


    .drink-content {
        padding-left: 52%;
    }

    .featured-products {
        padding: 25px 15px;
    }


    .featured-heading h2 {
        font-size: 21px;
    }


    .featured-row {
        grid-template-columns: repeat(2, 1fr);
    }


    .featured-card {
        height: 210px;
    }


    .product-image {
        height: 155px;
    }

.testimonial-section {
        padding-top: 15px;
    }

    .section-title h2 {
        font-size: 20px;
    }

    .testimonial-box {
        min-height: 115px;
        padding: 12px 20px;
    }

    .testimonial-box p {
        font-size: 8px;
    }

    .quote {
        font-size: 24px;
    }

    .customer img {
        width: 32px;
        height: 32px;
    }

    .customer h4 {
        font-size: 9px;
    }

    .customer span {
        font-size: 7px;
    }

    .video-wrapper {
        height: 330px;
    }

    .video-content h2 {
        font-size: 20px;
    }

    .video-small-title {
        font-size: 8px;
    }

    .play-btn {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .news-image {
        height: 140px;
    }

    .news-content h3 {
        font-size: 9px;
    }

    .news-content p {
        font-size: 7px;
    }

    .news-content a {
        font-size: 7px;
    }
/* Newsletter */

    .newsletter-section {
        padding: 30px 0;
    }

    .newsletter-content {
        text-align: center;
    }

    .newsletter-content p {
        max-width: 100%;
        margin: 0 auto;
    }

    .newsletter-right {
        flex-direction: column;
        gap: 18px;
    }

    .newsletter-form {
        width: 100%;
        max-width: 400px;
    }

    .social-icons {
        justify-content: center;
    }


    /* Footer */

    .main-footer {
        text-align: left;
    }

    .footer-container {
        padding-top: 35px;
    }

    .footer-company {
        margin-bottom: 25px;
    }

    .company-description {
        max-width: 280px;
    }

    .footer-column {
        margin-top: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;

        gap: 15px;

        padding: 20px 0;
    }

    .payment-methods {
        flex-wrap: wrap;
    }
