@media (max-width: 768px) {
  #mobile_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.474) 0px 2px 8px 0px;
    bottom: 0;
    padding: 10px;
    text-align: center;
    z-index: 30;
    background-color: #fff;
  }

  #search form .wrapper {
    width: 100%;
    position: relative;
  }

  /* HERO */
  .next_arr,
  .prev_arr {
    display: none;
  }
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 40px;
  }
  #hero h5 {
    font-size: 18px;
  }
  #hero .slide {
    height: 90vh !important;
  }
  .slick-dots {
    bottom: 35px;
  }
}


   .features-section {
        padding: 15px 12px;
    }

    .features-wrapper {
        border-radius: 5px;
    }

    .feature-box {
        min-height: 110px;
        padding: 18px;
        border-right: none;
        border-bottom: 1px solid #e5eae7;
    }

    .feature-box:last-child {
        border-bottom: none;
    }

    .feature-icon {
        width: 42px;
        height: 42px;
        min-width: 42px;
        font-size: 18px;
    }

    .feature-content h5 {
        font-size: 12px;
    }

    .feature-content p {
        font-size: 9px;
    }


    .products-heading h2 {
        font-size: 23px;
    }

    .product-filter {
        gap: 13px;
    }

    .product-filter span {
        display: none;
    }

    .product-image {
        height: 230px;
    }

    .promo-section {
        padding: 30px 15px;
    }

    .promo-card {
        height: 210px;
    }

     .promo-section {
        padding: 30px 15px;
    }


    .promo-card {
        height: 210px;
    }


    .drink-content {
        padding-left: 52%;
    }

    .featured-products {
        padding: 25px 15px;
    }


    .featured-heading h2 {
        font-size: 21px;
    }


    .featured-row {
        grid-template-columns: repeat(2, 1fr);
    }


    .featured-card {
        height: 210px;
    }


    .product-image {
        height: 155px;
    }

